<h2 mat-dialog-title>{{data.pyme.attributes.title}}</h2>
<mat-dialog-content>
  Ingrese su contraseña para eliminar la Tienda

  <mat-form-field *ngIf="data.passRequired">
    <input matInput
      placeholder="Enter your password"
      [type]="hide ? 'text' : 'password'"
      id="password"
      placeholder="Password"
      [ngModelOptions]="{standalone: true}"
      required [(ngModel)]="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="onDelete()">Si, seguro</button>
</mat-dialog-actions>
