<mat-nav-list>
  <div *ngIf="this.toggleView">
    <h1 mat-subheader>Tiendas</h1>
    <mat-divider></mat-divider>
    <mat-spinner style="margin:150px auto;" mode="indeterminate" *ngIf="generalLoading"></mat-spinner>
    <div>
      <div *ngFor="let pyme of myPymes">
        <mat-list-item>
          <img matListAvatar src="assets/imgs/profile.jpg" alt="...">
          <a matLine [routerLink]="['/admin/pyme', pyme.id]">{{pyme.attributes.title}}</a>
          <button mat-icon-button (click)="deletePyme(pyme)">
            <mat-icon mat-list-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>

  <div *ngIf="!this.toggleView">
    <h1 mat-subheader>Crear Nueva Tienda</h1>
    <app-create-pyme></app-create-pyme>
  </div>
</mat-nav-list>


<button mat-fab color="primary" class="action-button" (click)="this.toggleView = !toggleView">
  <mat-icon> {{ toggleView ? 'add' : 'close' }}</mat-icon>
</button>
