<br/>
  <div class="row">
      <h3>&nbsp;&nbsp;
        ¿Olvido contraseña?</h3>
  </div>
      <div *ngFor="let error of errors">
          - {{error}}
        </div>
      <form class="form container-fluid form-container">
          <mat-form-field>
            <input matInput type="email" id="exampleInputEmail1"  placeholder="Correo electrónico"
              [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
            <small id="emailHelp" class="form-text text-muted">Ingrese su correo: ejemplo@ejemplo.com y luego revise su correo electrónico para recuperar su contraseña</small>
          <button type="submit" class="btn btn-primary" (click)="forgotPassStepOne()">Recuperar Contraseña</button>
        </form>
