<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar options -->
  <mat-sidenav #sidenav mode="side" [opened]="true" class="mat-sidenav hidden-xs">
    <div class="text-center" style="padding-top: 20px">
      <img class="user-profile-avatar" src="assets/imgs/profile.jpg" alt="">
      <p>{{ independent.attributes.title | slice:0:15 }}</p>
      <mat-divider style="margin-top: 10px"></mat-divider>
    </div>
    <mat-list>
      <mat-list-item (click)="option = 'information'">
        <button mat-button>
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>Información</h4>
        </button>
      </mat-list-item>

      <mat-list-item (click)="option = 'products'">
        <button mat-button>
          <mat-icon mat-list-icon>add_shopping_cart</mat-icon>
          <h4 mat-line>Productos</h4>
        </button>
      </mat-list-item>
      <mat-list-item [routerLink]="['/profile']" [queryParams]="{tab:'independents'}">
        <button mat-button>
          <mat-icon mat-list-icon>arrow_back</mat-icon>
          <h4 mat-line>Atrás</h4>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <!-- Sidebar options -->

  <mat-sidenav-content>
    <div *ngIf="this.option == 'information'">
      <mat-spinner *ngIf="loading" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
      <div *ngIf="!loading">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <mat-spinner *ngIf="loading" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
              <div class="user-profile" *ngIf="!loading" style="height: auto">
                <div class="section-title">Información de la tienda</div>
                <mat-divider style="margin: 10px 0"></mat-divider>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field>
                      <input type="text" matInput id="fullname"
                        placeholder="Nombre" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="independent.attributes.title">
                    </mat-form-field>
                  </div>

                  <div class="col-lg-6">
                    <mat-form-field>
                      <input type="text" matInput id="email"
                        placeholder="Correo" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="independent.attributes.email">
                    </mat-form-field>
                  </div>

                <div class="col-lg-12">
                  <mat-form-field>
                    <textarea matInput
                              placeholder="Descripción"
                              id="description"
                              [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="independent.attributes.description">
                    </textarea>
                  </mat-form-field>
                </div>

                <div class="col-lg-12">
                  <mat-form-field>
                    <textarea matInput
                              placeholder="Misión"
            independent                  id="description"
                              [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="independent.attributes.mission">

                    </textarea>
                  </mat-form-field>
                </div>

                <div class="col-lg-12">
                  <mat-form-field>
                    <textarea matInput
                              placeholder="Visión"
                              id="description"
                              [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="independent.attributes.vision">

                    </textarea>
                  </mat-form-field>
                </div>
              </div>

                <div class="text-right">
                  <button mat-raised-button color="primary" (click)="updateIndependent()">
                    ACTUALIZAR
                    <mat-icon aria-label="" style="font-size: 18px;">edit</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="this.option == 'products'">
      <admin-independents-products [independentId]="this.independentId"></admin-independents-products>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
